// Primary colors
$brightorange: hsl(31, 77%, 52%);
$darkcyan: hsl(184, 100%, 22%);
$verydarkcyan: hsl(179, 100%, 13%);

// Neutral colors
$verylightgray: hsl(0, 0%, 95%); //(background, headings, buttons)
$transparentwhite: hsla(0, 0%, 100%, 0.75); //(paragraphs)
